body{
    text-align: justify;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: left;
    font-weight: normal; 
    font-style: normal;
}

header{
    font-family: sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 1px;
    background-color: rgb(20, 139, 139);
    min-height: 100px;
}

header > h1{
    color: white;
}

main{
    margin-bottom: 100px;
}

footer{
    background: white;
}

.paragrafos{
    font-family: sans-serif;
    color: black;
    margin: 70px 40% 20px 10%;
}

.ancoras{
    background-color:rgb(15, 97, 97);
    min-height: 50px;
    padding-top: 1px;
    color:white;
}
