body{
    text-align: justify;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 110%;
    font-family: sans-serif;
    text-align: center;
    border: solid black;
}

h1{
    text-align: center;
}
h2{
    color: rgb(201, 95, 25);
    text-align: center;
}

footer{
    background: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 100px;
    text-align: center;
}

main{
    margin-bottom: 100px;
}

.imagembolo{
    margin: 60px;
    width: 25%;
}

.titulo{
    color: rgb(0, 0, 0);
    color: rgb(201, 95, 25);
}

.titulodica{
    color:black;
    text-align: center;
}

.textodica{
    text-align: center;
}
