@charset "UTF-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    background-color: #f8f8ec;
    position:relative;
    margin:0px;
}

header {
    text-align: center;
    width: 100%;
    margin: auto;
    color: white;
    position: fixed;
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    background-color: #f8f8ec;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    display: inline-block;
    margin-top: 150px;
    margin-bottom: 50px;
}

footer {
    background-color: #1d2c36;
    text-align: justify;
    color: white;
    padding: 10px;
}

h1{
    color: white;
}

a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

.topo {
    background-color: #aedd2b;
    padding: 2px;
}

.nav {
    background-color: #02416d;
    padding: 10px;
}

.sobre {
    width: 40%;
    display: inline-block;
    margin-left: 10%;
}

.integrantes {
    width: 40%;
    display: inline-block;
    margin-left: 50px;
}

.logoinsta {
    width: 18px;
    margin-left: 10px;
}

.sesi {
    color: #02416d;
}

.logosesi {
    width: 70px;
    display: inline-block;
    margin-right: 10px;
}

